@import url("./normalize.css");
@import url("./fonts.css");
:root {
    /*Color*/
    /*primary - головний        --color-primary: #252237 */
    /*secondary - другорядний   --color-secondary:*/
    /*tertiary - 3й             --color-tertiary:
    /*accent - акцентний        --color-accent: */
    /*hover -                   --color-hover:*/
    /*subsidiary- додатковий    --color-subsidiary: */
    /*success - успіх*/
    /*error - помилка*/
    /*info - */
    /*wsrning - помилка*/

    /*Fonts*/
    /*primary - головний        --font-family-primary: */
    /*secondary - другорядний   --color-family-secondary:*/
    /*tertiary - 3й             --color--family-tertiary:*/


    /*Color*/
    --color-primary: #252237; /* rgba(37, 34, 55, 1);*/

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-100: #fefefe;
    --color-gray-200: #efefef;
    --color-gray-300: #d1ceff;

    --color-dark-1:#292839;
    --color-dark-2: #3e3c54;
    --color-dark-3: #4c495e; /* rgba(76, 73, 94, 1);*/

    --color-accent1: #e6a823;
    --color-accent2: #ff9f1c;
    --color-accent3: #239ee8;
    --color-accent4: #bf52e8;
    --color-accent5: #766CF5; /* rgba(118, 108, 245, 1)*/
    
    /*background*/
    --bg-primary: #252237; /* rgba(37, 34, 55, 1);*/
    --bg-secondary: #eef2fb; /* rgba(238, 242, 251, 1);*/
    --bg-tertiary: #ebeffa; /*rgba(235, 239, 250, 1);*/

    --bg-white: #ffffff;

    --bg-shape1: #2c2b3d; /* rgba(44, 43, 61, 1)*/
    --bg-shape2: #766CF5;
    --bg-shape3:  #f7f9ff; /*rgba(247, 249, 255, 1);*/

    --bg-opacity1: #d1ceff0d; /* rgba(209, 206, 255, 0.05)*/
    

    /* text color*/
    --text-primary: #252237;
    --text-gray-200: #efefef; /* rgba(239, 239, 239, 1)*/
    --text-gray-300: #d1ceff; /* rgba(209, 206, 255, 1);*/

    --text-dark-3: #4c495e; /* rgba(76, 73, 94, 1);*/

    --text-accent2: #ff9f1c;
    --text-accent3: #239ee8; /* rgba(35, 158, 232, 1);*/
    --text-accent5: #766CF5; /* rgba(118, 108, 245, 1)*/

    /**hover*/
    --hover-primary-opacity: rgba(37, 34, 55, 0.5);
    --hover-accent5: #766CF5; /* rgba(118, 108, 245, 1)*/

    /*Font*/
    --font-family-primary: "Lato", "Poppins", "Roboto", "Open Sans", sans-serif;
    --font-size-primary: 14px; /* 14px */
    --font-size-base: 1rem;

    /*Font size responsiv 992 - 460*/
    --font-size-36-24: clamp(1.5rem, 0.852rem + 2.256vw, 2.25rem);
    --font-size-20-16: clamp(1rem, 0.784rem + 0.752vw, 1.25rem);
    --font-size-18-16: clamp(1rem, 0.892rem + 0.376vw, 1.125rem);
    --font-size-16-14: clamp(0.875rem, 0.767rem + 0.376vw, 1rem);

    --line-height-s: 1.1875; /* 19\16 */
    --line-height-m: 1.2;/* 29\24 24\20  22\18 ????? 43\36 ??????*/
    --line-height-l: 1.42;/* 20\14*/
    --line-height-lg: 1.5625; /* 25\16 */
    --line-height-xl: 1.7; /* 34\20 */

    /*Letter-spacing*/
    --spacing-s: 0rem;

    /* Gap */
    --gap-base: 16px;

    /*Сontainer*/
    --width-container: 1280px;


    --size-desktop: 1280px;
    /*992px*/
    --size-tablet: 767px;
    --size-mob-m: 460px;
    --size-mob: 360px;

    --padding-desktop: 65px;
    --padding-tablet: 40px;
    --padding-mob: 20px;
    
    --padding-container: clamp(var(--padding-mob), -2.882rem + 8.681vw, var(--padding-desktop));

    --margin-desktop-wrap: 30px;
    --margin-tablet-wrap: 0px;
    --margin-wrap: clamp(var(--margin-tablet-wrap), -45px + 5.8594vw, var(--margin-desktop-wrap));

    --title-margin-top: 1.5rem;
}

.container {
    margin-inline: auto;
    max-width: var(--width-container);
    width: 100%;
    padding: 0 var(--padding-container);
}

.position-up {
    position: relative;
    z-index: 1;
}

.bg-primary {
    background-color: var(--color-primary);
}

.margin-wrap {
    margin-inline: var(--margin-wrap);
}

.title-h2 {
    font-weight: 700;
    font-size: var(--font-size-36-24);
}

/** figure*/
.figure637-119 {
    width: 44.8%;
    max-height: 119px;
    height: 100%;
    aspect-ratio: 1;
}

.title-h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}


@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 460px) {}    
