---
import { Image } from "astro:assets";
import img_1_Src from "../assets/images/about/img1.png";
import img_2_Src from "../assets/images/about/img2.png";
import img_3_Src from "../assets/images/about/img3.png";
import HeaderBlock from "./blocks/HeaderBlock.astro";

const HeaderData = [
  {
    supertitle: "Чому обирають нас?",
    title: "Ми Пропонуємо Ефективні Рішення для Вашого Бізнесу",
    subtitle:
      "У 2025 році важко уявити бренд, який не має власного сайту, який допомагає досягати конкретних бізнес-цілей. Ефективний сайт може вирішити багато питань за рахунок",
    color: "white", // Необязательный, с дефолтом "white" | "black";
    position: "left", // Необязательный, с дефолтом "left" | "center";
  },
];

const cards = [
  {
    title: "Розширення охоплення аудиторії та географії продажів",
    src: img_1_Src,
    textHtml: `<p>
            3% споживачів починають пошук товарів чи послуг онлайн, незалежно від того, де вони планують здійснити
            покупку
          </p>
          <p>Бізнеси з веб-сайтами залучають в середньому на 70% більше клієнтів, ніж без онлайн-присутності</p>
          <p>
            81% споживачів досліджують товар/послугу в інтернеті перед покупкою, що робить сайт важливим каналом
            інформування
          </p>`,
  },
  {
    title: "Зниження операційних витрат та автоматизація процесів",
    src: img_2_Src,
    textHtml: `<p>Автоматизація процесу обробки замовлень через сайт знижує витрати на персонал до 30%</p>
          <p>
            Самообслуговування клієнтів через сайт (FAQ, онлайн-підтримка) зменшує кількість звернень до служби
            підтримки на 40-60%
          </p>
          <p>Інтеграція CRM з сайтом підвищує ефективність продажів на 29% та скорочує цикл продажів на 8-14%</p>`,
  },
  {
    title: "Розширення охоплення аудиторії та географії продажів",
    src: img_3_Src,
    textHtml: `<p>
            3% споживачів починають пошук товарів чи послуг онлайн, незалежно від того, де вони планують здійснити
            покупку
          </p>
          <p>Бізнеси з веб-сайтами залучають в середньому на 70% більше клієнтів, ніж без онлайн-присутності</p>
          <p>
            81% споживачів досліджують товар/послугу в інтернеті перед покупкою, що робить сайт важливим каналом
            інформування
          </p>`,
  },
];
---

<section id="about" class="about">
  <div class="container">
    <HeaderBlock data={HeaderData} />
    <main class="cards">
      {
        cards.map((card) => (
          <section class="card">
            <Image
              class="card-img"
              src={card.src}
              alt="icon"
              widths={[64, 80]}
              sizes={`(max-width: 756px) 64px, 80px`}
              width="80"
              height="80"
            />
            <h2 class="card-title title-h2">{card.title}</h2>
            <article class="card-content" set:html={card.textHtml} />
          </section>
        ))
      }
    </main>
  </div>
</section>
<section class="separator">
  <div class="triangle-bottom"></div>
  <div class="triangle-top"></div>
  <div class="parallelogram1"></div>
  <div class="parallelogram2 figure637-119"></div>
  <div class="parallelogram3 parallelogram3--left"></div>
  <div class="parallelogram3 parallelogram3--right"></div>
</section>

<style>
  .about {
    padding-top: clamp(2rem, -0.162rem + 7.519vw, 4.5rem); /** 992-72 460-32*/
    padding-bottom: clamp(1.5rem, -5.309rem + 23.684vw, 9.375rem); /** 992-150 460-24*/
    background-color: var(--bg-primary);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 353px));
    justify-content: space-between;
    gap: var(--gap-base);
    margin-top: clamp(2.5rem, -0.202rem + 9.398vw, 5.625rem); /** 992-90 460-40*/
  }

  /** separator*/
  .separator {
    position: relative;
    width: 100%;
    height: clamp(3.438rem, 0.24rem + 11.122vw, 10.25rem); /** 1440-164 460-55*/
    overflow: hidden;
  }

  .triangle-top {
    position: absolute;
    top: -1px;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--bg-primary);
    clip-path: polygon(0 0, 100% 0%, 100% 5%, 0% 100%);
  }

  .triangle-bottom {
    position: absolute;
    top: 0;
    right: -1px;
    width: inherit;
    height: inherit;
    background-color: var(--bg-secondary);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .parallelogram1 {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: var(--bg-shape1);
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
  }

  .parallelogram2 {
    top: 0;
    left: 0;
    background: linear-gradient(231.49deg, rgba(116, 108, 245, 0.4), rgba(116, 108, 245, 0) 100%);
    clip-path: polygon(0% 26%, 100% 0%, 98.2% 50%, 0% 76%);
  }

  .parallelogram3 {
    position: absolute;
    height: inherit;
    background-color: var(--bg-shape2);
    clip-path: polygon(0% 4%, 100% 0%, 87.2% 50%, 0% 54%);
  }

  .parallelogram3--left {
    top: 18%;
    left: 0;
    width: 6%;
  }

  .parallelogram3--right {
    top: -24%;
    right: 0;
    width: 7.4%;
    transform: rotate(180deg);
  }

  /** НАЧАЛО СТИЛИ которые касаються AboutCard*/
  .card {
    min-width: 285px;
    max-width: 353px;
    padding: 1rem;
    background-color: var(--bg-opacity1);
  }

  .card-img {
    width: clamp(4rem, 3.135rem + 3.008vw, 5rem);
    height: auto;
  }

  .card-title {
    color: var(--text-gray-200);
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: clamp(1.25rem, 1.716rem + -0.752vw, 1.5rem);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--font-size-16-14) * var(--line-height-lg));
    font-size: var(--font-size-16-14);
    color: var(--text-gray-300);
    line-height: var(--line-height-lg);
  }

  .card-content1 {
    font-size: var(--font-size-16-14);
    color: var(--text-gray-300);
    line-height: var(--line-height-lg);
  }

  @media (max-width: 767px) {
    .card-text {
      line-height: var(--line-height-l);
    }
  }

  /** КОНЕЦ СТИЛИ которые касаються AboutCard*/

  @media (max-width: 992px) {
    .cards {
      grid-template-columns: repeat(2, minmax(auto, 353px));
      justify-content: space-evenly;
    }
  }

  @media (max-width: 767px) {
    .cards {
      grid-template-columns: minmax(auto, 353px);
      justify-content: center;
    }
  }
</style>
