---

---

<section id="footer" class="footer">
  <div class="container">
    <h1>Footer</h1>
    <main></main>
  </div>
</section>

<style>
  .footer {
    padding-top: 90px;
    padding-bottom: 24px;
    background-color: rgba(37, 34, 55, 1);
  }
</style>
