---
import HeaderBlock from "./blocks/HeaderBlock.astro";

const HeaderData = [
  {
    supertitle: "Відгуки про нашу роботу",
    title: "Про нас Пишуть Наші Клієнти",
    subtitle:
      "Подивіться, як ефективні веб-сайти приносять реальні результати бізнесу наших клієнтів.",
    color: "black", // Необязательный, с дефолтом "white" | "black";
    position: "center", // Необязательный, с дефолтом "left" | "center";
  },
];
---

<section class="reviews">
  <div class="container">
    <HeaderBlock data={HeaderData} />
    <main></main>
  </div>
</section>

<style>
  .reviews {
    padding-top: 234px;
    padding-bottom: 150px;
    background-color: var(--bg-tertiary);
  }
</style>
